  body {
    font-family: Helvetica, sans-serif;
    background: #1a1a1a;
    color: #eee;
    text-align: center;
    padding: 50px;
  }

.row {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}

.banner {
  background: rgb(43, 47, 49);
  color: #ffffff;
  font-weight: normal;
  padding: 15px;
  margin: -75px -50px 30px -50px
}

.box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 30px;
  background: #333;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.2s ease;
  color: #eee;
  text-decoration: none;
}

.box-title {
  font-weight: bold;
  font-size: 1.1em;
}

.box-img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.box-desc {
  font-size: 0.85em;
  color: #ccc;
}

.box:hover {
  background: #555;
  transform: scale(1.05);
  color: #fff;
}

a {
  color: #6cf;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
}